//main: style.sass
//Color Variables
$green: #50a366
$white: #ffffff
$black: #1b1c20
$blackgrey: #232527
$darkgrey: #373a3d
$lightgrey: #acacac
$textgrey: #ccced0

img
  width: 100%

.container

//+20px padding to counter the gutter for each first column
.row
  max-width: 900px
  padding-left: 20px
  padding-right: 40px
  margin: 0 auto

//Header /  Nav
header
  padding-top: 20px
  h1
    font-size: 2.75rem
    margin-bottom: 0px
  nav
    ul
      text-align: right
      margin-top: 52px
      margin-bottom: 0px
      font-weight: 300
      li
        list-style: none
        display: inline-block
        margin-left: 20px
        &:nth-of-type(1)
          margin-left: 0px
        a
          text-decoration: none
          color: $white
          font-size: 1.375rem

section
  padding-bottom: 20px

//Rotator
section#rotator
  padding-top: 70px
  .detail
    margin-right: 40px
    text-align: justify
    h2
      font-size: 32px
    p.subtitle
      font-size: 20px
    p
      font-size: 1rem
    button
      padding: 10px
      border-radius: 5px
      background-color: $white
      color: $darkgrey
      border: none

section#features
  .feature
    text-align: center
    padding: 10px

footer
  h1
    font-size: 1.75rem
  nav
    ul
      text-align: right
      padding-top: 15px
      li
        list-style: none
        display: inline-block
        margin-left: 20px
        &:nth-of-type(1)
          margin-left: 0px
        a
          text-decoration: none
          color: $white
          font-size: .6rem

//Colors
header,
section#rotator
  background-color: $green
  color: $white

section#features
  background-color: $white
  color: $darkgrey
  .title
    border-bottom: 2px solid $darkgrey

section#reviews
  background-color: $black
  color: $lightgrey

  .title
    border-bottom: 2px solid $darkgrey

  .review
    border-bottom: 2px solid $darkgrey
    &:last-child
      border-bottom: none
footer
  background-color: $blackgrey
  color: $lightgrey
