@charset "UTF-8";
/*-----------------------------------* *
 *  $TOAST-GRID
 *
 *  An insane grid.
 *  You'd be mad to use it.
 *
 *  Usage
 *  =====
 *
 *  Assuming default values:
 *
 *  <div class="grid">
 *    <div class="grid__col grid__col--1-of-2">
 *      A half-width column.
 *    </div>
 *    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
 *      A quarter, pulled left by its own width. You get this, right?
 *    </div>
 *  </div>
 *
 *
 *  Customisation
 *  =============
 *
 *  $toast-grid-namespace and $toast-grid-column-namespace
 *  adjusts the class names for the grid. With
 *  default values, grid wrappers have a class
 *  of '.grid' and columns '.grid__col'.
 *
 *  $toast-col-groups(n) adjusts column divisions.
 *  For example, $toast-col-groups(12) will produce
 *  a 12-column grid. $col-groups(3,6,8)
 *  will produce a 3-, 6-, and 8-column grid.
 *
 *  $toast-gutter-width is—you guessed it—the gutter
 *  width. Accepts any unit.
 *
 *  That's it. Have fun.
 *
 *\*----------------------------------- */
.row {
  list-style: none;
  margin-left: -20px; }

.col--12-of-12 {
  width: 100%; }

.col--6-of-12 {
  width: 50%; }

.col--4-of-12 {
  width: 33.33333%; }

.col--8-of-12 {
  width: 66.66667%; }

.col--3-of-12 {
  width: 25%; }

.col--9-of-12 {
  width: 75%; }

.col--1-of-12 {
  width: 8.33333%; }

.col--2-of-12 {
  width: 16.66667%; }

.col--5-of-12 {
  width: 41.66667%; }

.col--7-of-12 {
  width: 58.33333%; }

.col--10-of-12 {
  width: 83.33333%; }

.col--11-of-12 {
  width: 91.66667%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 780px) {
    .col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 780px) and (min-width: 480px) {
    .col[class*="col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--m-1-of-2, .col.col--m-2-of-4 {
      width: 50%; }
    .col.col--m-1-of-3 {
      width: 33.33333%; }
    .col.col--m-2-of-3 {
      width: 66.66667%; }
    .col.col--m-1-of-4 {
      width: 25%; }
    .col.col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .col[class*="col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--s-1-of-2, .col.col--s-2-of-4 {
      width: 50%; }
    .col.col--s-1-of-3 {
      width: 33.33333%; }
    .col.col--s-2-of-3 {
      width: 66.66667%; }
    .col.col--s-1-of-4 {
      width: 25%; }
    .col.col--s-3-of-4 {
      width: 75%; } }

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col--d-first {
  float: left; }

.col--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .col {
    padding-left: 0; }
  .row--no-gutter .col--span-all {
    margin-left: 0;
    width: 100%; }

.col--ab {
  vertical-align: bottom; }

.col--am {
  vertical-align: middle; }

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* - - - - - - - - - Variables - - - - - - - - - */
/* - - - - - - - - - Global Styles - - - - - - - - - */
* {
  box-sizing: border-box; }

body {
  margin: 0; }

.row {
  padding: 0 40px 0 20px;
  max-width: 960px;
  margin: 0 auto; }

img {
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

a {
  text-decoration: none; }

section {
  padding-bottom: 20px; }

.button {
  padding: 10px;
  border-radius: 2rem;
  color: #373a3d;
  border: none;
  outline: none;
  transition: background .1s ease-in; }

.button-highlight {
  background-color: #FFFFFF; }
  .button-highlight:hover {
    background-color: #373a3d;
    color: #FFFFFF;
    cursor: pointer; }

/* - - - - - - - - - Header Styles - - - - - - - - - */
header {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0px;
  background-color: #50a366;
  color: #FFFFFF; }
  header h1.logo {
    font-size: 2.75rem;
    padding: 0px;
    float: left; }
  header nav {
    float: right; }
    header nav ul {
      text-align: right;
      margin-bottom: 0px;
      font-weight: 300; }
      header nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 20px; }
        header nav ul li:nth-of-type(1) {
          margin-left: 0px; }
        header nav ul li a {
          color: #FFFFFF;
          font-size: 1.375rem; }
          header nav ul li a:hover {
            color: #373a3d; }

/* - - - - - - - - - Rotator Styles - - - - - - - - - */
section#rotator {
  background-color: #50a366;
  color: #FFFFFF;
  padding-top: 70px; }
  section#rotator .detail {
    margin-right: 80px;
    text-align: justify;
    padding-top: 20px; }
    section#rotator .detail .subtitle {
      color: #BDDCC6; }
    section#rotator .detail h2 {
      font-size: 32px; }
    section#rotator .detail p.subtitle {
      font-size: 20px; }
    section#rotator .detail p {
      font-size: 1rem; }
    section#rotator .detail .subtitle {
      color: #BDDCC6; }
    section#rotator .detail p.detailText {
      margin-bottom: 20px; }

/* - - - - - - - - - Features Styles - - - - - - - - - */
section#features {
  background-color: #FFFFFF;
  color: #373a3d;
  padding-top: 30px; }
  section#features .feature {
    text-align: center;
    padding: 10px; }
    section#features .feature h4 {
      font-size: 1.2rem; }
    section#features .feature p {
      font-size: .95rem; }
    section#features .feature i {
      color: #acacac; }
  section#features .title {
    text-align: center;
    font-weight: 300;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid #CECFD0; }
    section#features .title h2 span {
      color: #50a366; }

/* - - - - - - - - - Review Styles - - - - - - - - - */
section#reviews {
  background-color: #1b1c20;
  color: #acacac;
  padding-top: 30px; }
  section#reviews .title {
    border-bottom: 2px solid #373a3d;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  section#reviews h2 {
    color: #FFFFFF; }
  section#reviews h3 {
    text-align: center; }
  section#reviews .review {
    border-bottom: 2px solid #373a3d; }
    section#reviews .review:last-child {
      border-bottom: none; }
    section#reviews .review .reviewText {
      font-size: .85rem; }
    section#reviews .review .whoReviewed {
      font-size: .95rem;
      font-weight: bold; }

/* - - - - - - - - - Footer Styles - - - - - - - - - */
footer {
  background-color: #232527;
  color: #acacac;
  height: 60px; }
  footer h1.logo {
    font-size: 1.75rem;
    padding-top: 8px;
    float: left; }
  footer nav {
    float: right; }
    footer nav ul {
      text-align: right; }
      footer nav ul li {
        list-style: none;
        display: inline-block;
        margin-left: 20px; }
        footer nav ul li:nth-of-type(1) {
          margin-left: 0px; }
        footer nav ul li a {
          color: #FFFFFF;
          font-size: .6rem; }
          footer nav ul li a:hover {
            color: #373a3d; }
